.obsidian/

logs.txt
*.log

Journal/
Reports/
Ingest/
AI/
Topics/
Photostream/

# Photo processing artifacts
*.DS_Store

# Python artifacts
__pycache__
*.egg-info
*.pyc

# IDE workspace files
workspace.json

# Environment variables
.env
.env.local
.obsidian/plugins/recent-files-obsidian/data.json
ai4pkm_cli/README_LOCAL.md
