logs.txt
*.log

ai4pkm_vault/Ingest/*
ai4pkm_vault/Journal/*
ai4pkm_vault/Topics/*
ai4pkm_vault/AI/*

# Photo processing artifacts
*.DS_Store

# Python artifacts
__pycache__
*.egg-info
*.pyc

# IDE workspace files
workspace.json
graph.json

# Environment variables
.env
.env.local
.obsidian/plugins/recent-files-obsidian/data.json
ai4pkm_cli/README_LOCAL.md
ai4pkm_cli.json
